<div class="content-header">
	<h2 class="float-left">Properties</h2>
	<div class="border-btn float-right">Add Property</div>

</div>

<div class="content-body font-2 font-bold">
	<div class="content-piece-1 float-left">
		Status
	</div>
	<div class="content-piece-1 float-left">
		Date
	</div>
	<div class="content-piece-1 float-left">
		ID
	</div>
	<div class="content-piece-1 float-left">
		Property
	</div>
	<div class="content-piece-1 float-right">
		Amount
	</div>
	<div class="content-piece-1 float-right">
		Tenant
	</div>
</div>

<div class="content-body">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Paid
		</div>
	</div>
	<div class="content-piece-1 float-left">
		4/12/2016
	</div>
	<div class="content-piece-1 float-left">
		3220
	</div>
	<div class="content-piece-1 float-left">
		260 Sarnia Road
	</div>
	<div class="content-piece-1 float-right">
		$550
	</div>
	<div class="content-piece-1 float-right">
		Ayush Vaidya
	</div>

</div>

<div class="content-body light-bg">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Paid
		</div>
	</div>
	<div class="content-piece-1 float-left">
		4/12/2016
	</div>
	<div class="content-piece-1 float-left">
		3220
	</div>
	<div class="content-piece-1 float-left">
		260 Sarnia Road
	</div>
	<div class="content-piece-1 float-right">
		$550
	</div>
	<div class="content-piece-1 float-right">
		Ayush Vaidya
	</div>

</div>


<div class="content-body">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Paid
		</div>
	</div>
	<div class="content-piece-1 float-left">
		4/12/2016
	</div>
	<div class="content-piece-1 float-left">
		3220
	</div>
	<div class="content-piece-1 float-left">
		260 Sarnia Road
	</div>
	<div class="content-piece-1 float-right">
		$550
	</div>
	<div class="content-piece-1 float-right">
		Ayush Vaidya
	</div>

</div>

<div class="content-body light-bg">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Paid
		</div>
	</div>
	<div class="content-piece-1 float-left">
		4/12/2016
	</div>
	<div class="content-piece-1 float-left">
		3220
	</div>
	<div class="content-piece-1 float-left">
		260 Sarnia Road
	</div>
	<div class="content-piece-1 float-right">
		$550
	</div>
	<div class="content-piece-1 float-right">
		Ayush Vaidya
	</div>

</div>

<div class="content-body">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Paid
		</div>
	</div>
	<div class="content-piece-1 float-left">
		4/12/2016
	</div>
	<div class="content-piece-1 float-left">
		3220
	</div>
	<div class="content-piece-1 float-left">
		260 Sarnia Road
	</div>
	<div class="content-piece-1 float-right">
		$550
	</div>
	<div class="content-piece-1 float-right">
		Ayush Vaidya
	</div>

</div>

<div class="content-body light-bg">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Paid
		</div>
	</div>
	<div class="content-piece-1 float-left">
		4/12/2016
	</div>
	<div class="content-piece-1 float-left">
		3220
	</div>
	<div class="content-piece-1 float-left">
		260 Sarnia Road
	</div>
	<div class="content-piece-1 float-right">
		$550
	</div>
	<div class="content-piece-1 float-right">
		Ayush Vaidya
	</div>

</div>

<div class="content-body">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Paid
		</div>
	</div>
	<div class="content-piece-1 float-left">
		4/12/2016
	</div>
	<div class="content-piece-1 float-left">
		3220
	</div>
	<div class="content-piece-1 float-left">
		260 Sarnia Road
	</div>
	<div class="content-piece-1 float-right">
		$550
	</div>
	<div class="content-piece-1 float-right">
		Ayush Vaidya
	</div>

</div>

<div class="content-body light-bg">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Paid
		</div>
	</div>
	<div class="content-piece-1 float-left">
		4/12/2016
	</div>
	<div class="content-piece-1 float-left">
		3220
	</div>
	<div class="content-piece-1 float-left">
		260 Sarnia Road
	</div>
	<div class="content-piece-1 float-right">
		$550
	</div>
	<div class="content-piece-1 float-right">
		Ayush Vaidya
	</div>

</div>

<div class="content-body">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Paid
		</div>
	</div>
	<div class="content-piece-1 float-left">
		4/12/2016
	</div>
	<div class="content-piece-1 float-left">
		3220
	</div>
	<div class="content-piece-1 float-left">
		260 Sarnia Road
	</div>
	<div class="content-piece-1 float-right">
		$550
	</div>
	<div class="content-piece-1 float-right">
		Ayush Vaidya
	</div>

</div>

<div class="content-body light-bg">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Paid
		</div>
	</div>
	<div class="content-piece-1 float-left">
		4/12/2016
	</div>
	<div class="content-piece-1 float-left">
		3220
	</div>
	<div class="content-piece-1 float-left">
		260 Sarnia Road
	</div>
	<div class="content-piece-1 float-right">
		$550
	</div>
	<div class="content-piece-1 float-right">
		Ayush Vaidya
	</div>

</div>

<div class="content-body">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Paid
		</div>
	</div>
	<div class="content-piece-1 float-left">
		4/12/2016
	</div>
	<div class="content-piece-1 float-left">
		3220
	</div>
	<div class="content-piece-1 float-left">
		260 Sarnia Road
	</div>
	<div class="content-piece-1 float-right">
		$550
	</div>
	<div class="content-piece-1 float-right">
		Ayush Vaidya
	</div>

</div>