<div class="landing-nav">
	<div class="landing-container">
		<div class="nav-brand landing-nav-brand">CASA
		</div>




		<%= link_to root_path do %><div class="nav-signup">Get started</div><% end %>
		<div class="nav-item">Login</div>
		<div class="nav-divider"></div>
		<div class="nav-item">Contact Us</div>
		<div class="nav-item">Help</div>
		<div class="nav-item">Pricing</div>		
		<div class="nav-item">Features</div>

	</div>
</div>

<div class="landing-header">
	<div class="landing-header-pic"></div>
	<div class="landing-container">
		<div class="landing-title">Property management made simple.</div>

		<div class="landing-header-btn">Get started</div>
	</div>
</div>



	<div class="landing-section-head">
			<div class="landing-center-title">Generate leads, optimize operations and grow your business.</div>
	</div>

<div class="landing-container">
	<div class="landing-section">
		<div class="landing-left-title">Features</div>
		<div class="landing-title-underline"></div>

		<div class="landing-3-col">
			<i class="icon-wallet"></i>
			<div class="landing-3-col-title">Payments</div>
			<div class="landing-3-col-subtitle font-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
		</div>

		<div class="landing-3-col">
			<i class="icon-envelope-open"></i>			
			<div class="landing-3-col-title">Messaging</div>
			<div class="landing-3-col-subtitle font-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
		</div>

		<div class="landing-3-col">
			<i class="icon-flag"></i>
			<div class="landing-3-col-title">Tenant Requests</div>
			<div class="landing-3-col-subtitle font-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
		</div>

		<div class="landing-3-col">
			<i class="icon-docs"></i>
			<div class="landing-3-col-title">Documents</div>
			<div class="landing-3-col-subtitle font-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
		</div>

		<div class="landing-3-col">
			<i class="icon-note"></i>
			<div class="landing-3-col-title">Accounting</div>
			<div class="landing-3-col-subtitle font-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
		</div>

		<div class="landing-3-col">
			<i class="icon-call-in"></i>
			<div class="landing-3-col-title">Dedicated Support</div>
			<div class="landing-3-col-subtitle font-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
		</div>

	</div>

</div>


<div class="landing-section landing-section-pricing">
	<div class="landing-center-title">Simple pricing. Easy set-up.</div>
	<div class="pricing-box">
		<div class="pricing-box-1"></div>
		<div class="pricing-box-2"></div>
	</div>




</div>


	<div class="landing-section landing-cta">
		<div class="landing-cta-title">
			Manage your business simply.
		</div>
		<div class="landing-cta-subtitle">
			Lorem Ipsum is simply dummy text of the printing and typesetting industry.
		</div>
		<div class="landing-cta-btn">
			Get started
		</div>
	</div>

<div class="landing-footer"></div>