<div class="content-header">
	<h2 class="float-left">Messages</h2>
	<div class="border-btn float-right">New Message</div>
</div>

<div class="content-body font-2 font-bold">
	<div class="content-piece-1 float-left">
		Status
	</div>
	<div class="content-piece-1 float-left">
		Tenant
	</div>
	<div class="content-piece-3 float-left">
		Message
	</div>
	<div class="content-piece-1 float-right">
		Property
	</div>
	<div class="content-piece-2 float-right">
		Date
	</div>
</div>

<div class="content-body">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Read
		</div>
	</div>
	<div class="content-piece-1 float-left">
		Ayush Vaidya
	</div>
	<div class="content-piece-3 float-left">
		Hey - wanted to give a heads up that my friend will be staying over next week
	</div>
	<div class="content-piece-1 float-right">
		260 Sarnia Road
	</div>
	<div class="content-piece-2 float-right">
		4/12/2016
	</div>
</div>

<div class="content-body light-bg">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Read
		</div>
	</div>
	<div class="content-piece-1 float-left">
		Ayush Vaidya
	</div>
	<div class="content-piece-3 float-left">
		Hey - wanted to give a heads up that my friend will be staying over next week
	</div>
	<div class="content-piece-1 float-right">
		260 Sarnia Road
	</div>
	<div class="content-piece-2 float-right">
		4/12/2016
	</div>
</div>

<div class="content-body">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Read
		</div>
	</div>
	<div class="content-piece-1 float-left">
		Ayush Vaidya
	</div>
	<div class="content-piece-3 float-left">
		Hey - wanted to give a heads up that my friend will be staying over next week
	</div>
	<div class="content-piece-1 float-right">
		260 Sarnia Road
	</div>
	<div class="content-piece-2 float-right">
		4/12/2016
	</div>
</div>

<div class="content-body light-bg">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Read
		</div>
	</div>
	<div class="content-piece-1 float-left">
		Ayush Vaidya
	</div>
	<div class="content-piece-3 float-left">
		Hey - wanted to give a heads up that my friend will be staying over next week
	</div>
	<div class="content-piece-1 float-right">
		260 Sarnia Road
	</div>
	<div class="content-piece-2 float-right">
		4/12/2016
	</div>
</div>

<div class="content-body">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Read
		</div>
	</div>
	<div class="content-piece-1 float-left">
		Ayush Vaidya
	</div>
	<div class="content-piece-3 float-left">
		Hey - wanted to give a heads up that my friend will be staying over next week
	</div>
	<div class="content-piece-1 float-right">
		260 Sarnia Road
	</div>
	<div class="content-piece-2 float-right">
		4/12/2016
	</div>
</div>

<div class="content-body light-bg">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Read
		</div>
	</div>
	<div class="content-piece-1 float-left">
		Ayush Vaidya
	</div>
	<div class="content-piece-3 float-left">
		Hey - wanted to give a heads up that my friend will be staying over next week
	</div>
	<div class="content-piece-1 float-right">
		260 Sarnia Road
	</div>
	<div class="content-piece-2 float-right">
		4/12/2016
	</div>
</div>

<div class="content-body">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Read
		</div>
	</div>
	<div class="content-piece-1 float-left">
		Ayush Vaidya
	</div>
	<div class="content-piece-3 float-left">
		Hey - wanted to give a heads up that my friend will be staying over next week
	</div>
	<div class="content-piece-1 float-right">
		260 Sarnia Road
	</div>
	<div class="content-piece-2 float-right">
		4/12/2016
	</div>
</div>

<div class="content-body light-bg">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Read
		</div>
	</div>
	<div class="content-piece-1 float-left">
		Ayush Vaidya
	</div>
	<div class="content-piece-3 float-left">
		Hey - wanted to give a heads up that my friend will be staying over next week
	</div>
	<div class="content-piece-1 float-right">
		260 Sarnia Road
	</div>
	<div class="content-piece-2 float-right">
		4/12/2016
	</div>
</div>

<div class="content-body">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Read
		</div>
	</div>
	<div class="content-piece-1 float-left">
		Ayush Vaidya
	</div>
	<div class="content-piece-3 float-left">
		Hey - wanted to give a heads up that my friend will be staying over next week
	</div>
	<div class="content-piece-1 float-right">
		260 Sarnia Road
	</div>
	<div class="content-piece-2 float-right">
		4/12/2016
	</div>
</div>

<div class="content-body light-bg">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Read
		</div>
	</div>
	<div class="content-piece-1 float-left">
		Ayush Vaidya
	</div>
	<div class="content-piece-3 float-left">
		Hey - wanted to give a heads up that my friend will be staying over next week
	</div>
	<div class="content-piece-1 float-right">
		260 Sarnia Road
	</div>
	<div class="content-piece-2 float-right">
		4/12/2016
	</div>
</div>

<div class="content-body">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Read
		</div>
	</div>
	<div class="content-piece-1 float-left">
		Ayush Vaidya
	</div>
	<div class="content-piece-3 float-left">
		Hey - wanted to give a heads up that my friend will be staying over next week
	</div>
	<div class="content-piece-1 float-right">
		260 Sarnia Road
	</div>
	<div class="content-piece-2 float-right">
		4/12/2016
	</div>
</div>

<div class="content-body light-bg">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Read
		</div>
	</div>
	<div class="content-piece-1 float-left">
		Ayush Vaidya
	</div>
	<div class="content-piece-3 float-left">
		Hey - wanted to give a heads up that my friend will be staying over next week
	</div>
	<div class="content-piece-1 float-right">
		260 Sarnia Road
	</div>
	<div class="content-piece-2 float-right">
		4/12/2016
	</div>
</div>

<div class="content-body">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Read
		</div>
	</div>
	<div class="content-piece-1 float-left">
		Ayush Vaidya
	</div>
	<div class="content-piece-3 float-left">
		Hey - wanted to give a heads up that my friend will be staying over next week
	</div>
	<div class="content-piece-1 float-right">
		260 Sarnia Road
	</div>
	<div class="content-piece-2 float-right">
		4/12/2016
	</div>
</div>

<div class="content-body light-bg">
	<div class="content-piece-1 float-left">
		<div class="status-box paid-status">
			Read
		</div>
	</div>
	<div class="content-piece-1 float-left">
		Ayush Vaidya
	</div>
	<div class="content-piece-3 float-left">
		Hey - wanted to give a heads up that my friend will be staying over next week
	</div>
	<div class="content-piece-1 float-right">
		260 Sarnia Road
	</div>
	<div class="content-piece-2 float-right">
		4/12/2016
	</div>
</div>