.font-blue{
	color: #089cd3;
}

.font-purple{
	color: #ab6fef;
}

.font-green{
	color: #61cc40;
}

.font-orange{
	color: #fe8b4c;
}

.font-light-blue{
	color: #65d3da;
}

.font-red{
	color: #f87979;
}